html {
    transition: .4s ease-in-out;
    scroll-behavior: initial;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 9;
}

.logo {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: smaller;
    font-family: calibri;
    font-size: 10px;
}

.logo img {
    width: 50px;
    height: 40px;
}

header nav ul {
    list-style: none;
    display: flex;
    font-weight: 500;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: blue;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(255, 191, 0);
}

.main {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main ul {
    overflow: hidden;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.main ul li {
    /* display: block; */
    /* width: 100%; */
    height: 100%;
}

.main ul li a {
    display: block;
}

.main ul li:hover {
    background-color: rgb(255, 191, 0);
}

.main ul li a:hover {
    color: black;

}

.hero {
    width: 94%;
    display: flex;
    height: 90vh;
    margin-top: 50px;
}


.hero .title {
    width: 50%;
    margin-left: 15%;
    margin-top: 6%;
}

.hero .title img {
    z-index: -5;
    position: absolute;
    width: 500px;
    margin-left: -100px;
    opacity: .4;
}

.title h1 {
    margin-top: 40px;
    font-size: 40px;
    color: blue;
}

.title small {
    margin-left: 30px;
    color: rgb(84, 84, 2);
}

.title p {
    margin-top: 40px;
}

.title button {
    margin-left: 100px;
    margin-top: 50px;
    border: none;
    background-color: blue;
    color: white;
    filter: drop-shadow(5px 5px 5px blue);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s ease-in-out;
    font-weight: 700;

}

.title button:hover {
    color: rgb(0, 0, 0);
    padding: 13px 22px;
    background-color: rgb(255, 225, 0);
}

.hero .show-case {
    margin-top: 10rem;
    margin-left: 100px;
    width: 45%;
}

.hero .show-case img {
    scale: 1.4;
    width: 100%;
    filter: drop-shadow(5px 5px 150px rgb(0, 85, 255));
}

.yellow-foot {
    position: absolute;
    bottom: 0;
    z-index: -9;
}

.yellow-foot-2 {
    position: absolute;
    right: 0;
    top: 40%;
    scale: 2;
    z-index: -6;
    filter: blur(100%);
}



.description {
    margin-right: 6%;
    width: 50%;
    display: flex;
    align-items: center;
    font-family: Calibri;
    font-size: 20px;
    text-align: left;
    font-style: oblique;
    flex-direction: column;
}

.description h1 {
    color: blue;
    margin-left: 14%;
    margin-top: 140px;
    font-size: 40px;
    font-family: sans-serif;
}

.description small {
    /* color: blue; */
    text-align: center;
    margin-top: 50px;
    margin-left: 30px;
    font-family: sans-serif;
}

#intro {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.intro-photo {
    position: relative;
    width: 40%;
    height: 500px;
}

.intro-photo #demo-image {
    border-radius: 10px;
    margin-left: 50px;
    width: 300px;
    height: 500px;
    /* filter: drop-shadow(0px 0px 150px rgb(71, 121, 223)); */
}

.intro-photo .back-image {
    position: absolute;
    width: 100%;
    z-index: -9;
}

.intro-photo .back-image img {
    scale: 1.1;
    /* opacity: .; */
    transform: rotateX(150deg);
}

.banner {
    margin-top: 40px;
    width: 100%;
    height: 30vh;
    background-color: rgb(174, 113, 22);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.banner p{
    font-size: 20px;
}
.banner img {
    position: absolute;
    width: 100%;
    opacity: .2;
}

.banner p {
    color: white;
    text-align: justify;
    font-family: Calibri;
    /* letter-spacing: 4px; */
    width: 50%;

    z-index: 9;
}

.banner button {
    padding: 20px 50px;
    z-index: 9;
    display: flex;
    border-radius: 5px;
    align-items: center;
    height: 30px;
    cursor: pointer;
    border: none;
    font-weight: 700;
    transition: .3 ease-in-out;
}

.banner button:hover {
    padding: 22px 55px;
    background-color: rgb(255, 223, 176);
}

#service {
    margin-top: 40px;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#service .each {
    display: flex;
    flex-direction: column;
    height: 98%;
    width: 22%;
    border: 2px solid orange;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.each img {
    border-radius: 5px;
    height: 80%;
    width: 100%;
}

.each h4 {
    width: 100%;
    height: 20%;
    font-size: 20px;
    font-family: trebuchet Ms;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: honeydew;
    color: cornflowerblue
}


.social-links {
    margin-top: 30px;
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.socio {
    width: 20%;
    height: 100%;
    margin: 10px;
    text-align: center;
    position: relative;
}

.socio img {
    height: 70%;
    width: 40%;
}

.socio:hover .dropdown {
    display: inline;
}

.dropdown {
    display: none;
    position: absolute;
    top: 30px;
    z-index: 9;
    padding: 20px;
    width: 200px;
    border-radius: 5px;
    margin-left: 20px;
    background-color: white;
    box-shadow: 0 0 5px #000;
}


.dropdown ul li {
    text-align: left;
    list-style: none;
}

.dropdown ul li p {
    background-color: bisque;
}

.dropdown a {
    text-decoration: none;
}

footer {
    width: 100%;
    /* height: 0vh; */
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    color: white;
}


footer a {
    color: yellow;
    text-decoration: none;
}

footer .quick-links {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.quick-links a {

    padding: 5px;
}

footer .address {
    margin-top: 50px;
}

footer .footer-logo {
    width: 50px;
    margin-top: 50px;
}

.footer-logo img {
    width: 100%;
}

footer small {
    margin-top: 70px;
}

#aboutus {
    margin-top: 60px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#aboutus h1 {
    color: green;
    position: relative;
    margin-bottom: 20px;

}

#aboutus h1::after {
    content: '';
    width: 600px;
    height: 2px;
    background: green;
    position: absolute;
    top: 30px;
    left: -180%;
}

.about-info {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about-info h2 {
    text-transform: uppercase;
    font-style: italic;
}

.about-info .our-info blockquote {
    font-size: 20px;
}